<p>song-list works!</p>
<div class="grid">
      <div class="card" *ngFor="let s of songs">
        <div class="img-container">
          <img [src]="s.coverUrl" (click)="play.emit(s)">
          <div class="overlay" (click)="play.emit(s)">▶</div>
        </div>
        <h5>{{s.title}}</h5>
        <p>{{s.artist}}</p>
        <div class="actions">
          <button (click)="add.emit(s.songid)">➕</button>
          <button (click)="like.emit(s.songid)">❤</button>
        </div>
      </div>
    </div>
